.main {
    margin: 32px 128px;
}

.header {
    margin-bottom: 16px;
}

.header__input,
.header__button {
    line-height: 32px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}